Efficienseat/Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/Efficienseat/obj/Debug/Efficienseat.exe
Efficienseat/Efficienseat/obj/Debug/Efficienseat.pdb