Efficienseat/Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/Efficienseat/obj/Debug/Efficienseat.exe
Efficienseat/Efficienseat/obj/Debug/Efficienseat.pdb
Efficienseat/.vs/Efficienseat/v14/.suo
*.suo
*.cache
*.txt
Efficienseat/obj/Debug/Efficienseat.pdb
Efficienseat/bin/Debug/Efficienseat.sqlite
Efficienseat/obj/Debug/Efficienseat.exe
Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/bin/Debug/Efficienseat.exe
*.exe
Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/bin/Debug/Efficienseat.pdb
Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/obj/Debug/Efficienseat.exe
Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/bin/Debug/Efficienseat.exe
Efficienseat/obj/Debug/Efficienseat.exe